body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

nav { 
    height: 100px;
    padding-top: 15px;
    background-color: #07024d;
}

nav > h1 { 
    margin: 15px;
    color: #FFF;
    font-size: 1.5em; 
}

footer { 
    background-color: #535353;
    color: #fff;
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.btn-sair {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-sair:hover {
    color: #fff;
    background-color: #c82333;
}
.btn-sair:focus, .btn-sair:active {
    outline: none;
    box-shadow: none;
}

.btn-sair:hover {
    background-color: #c82333;
}